<html>

<head>
    <title>Visitas tarea1</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/table.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>


  <h1> Visitas a la tarea 1 </h1>
  <table class="table-fill">

            <thead>
                <tr>
                  <th>id</th>
                  <th>Sistema operativo</th>
                  <th>Explorador</th>
                  <th> IP </th>
                  <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="period in PERIODS">
                  <% for (var i = 0; i < visits.length; i++){ %>
                  <tr>
                    <td> <%= visits[i].id %> </td>
                    <td> <%= visits[i].os %> </td>
                    <td> <%= visits[i].browser %> </td>
                    <td> <%= visits[i].ip %> </td>
                    <td> <%= visits[i].date %> </td>
                  </tr>
                  <% } %>
            </tbody>
        </table>

</body>

</html>
